<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{bootstrap.min.css}">

</head>
<body>
    <div class="col-10">
        <div class="col-10 container">
            <h1>Create New User</h1>
            <div class="col-md">
                <form th:Object="${user}" th:action="@{save}" method="post">

                    <div>
                        <label th:text="Name" th:for="name"></label>
                        <input  type="text" class="form-control" th:field="*{name}" th:placeholder="Name"/>
                    </div>
                    <div style="clear: both ;display: block ; height: 10px"></div>
                    <div>
                        <label th:text="Email" th:for="email"></label>
                        <input type="text" class="form-control" th:field="*{email}" th:placeholder="Email"/>
                    </div>
                    <div style="clear: both ;display: block ; height: 10px"></div>
                    <div>
                        <label th:text="phone" th:for="phone"></label>
                        <input type="text" class="form-control" th:field="*{phone}" th:placeholder="phone"/>
                    </div>
                    <div style="clear: both ;display: block ; height: 10px"></div>
                    <input type="submit" th:value="save" class="btn btn-success">
                </form>
            </div>
        </div>

    </div>


</body>
</html>