<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User management</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap.min.css"  th:href="@{bootstrap.min.css}">

</head>
<body>
    <div class="col-3"></div>
    <div class="container col-6 ">
        <h1>User CRUD actions</h1>
        <table class="table table-active">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td>CRUD</td>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td>
                    <a th:href="@{/edit?id={id}(id=${user.id})}" class="btn btn-primary" type="button">Edit</a>

                    <a th:href="@{/delete/(id=${user.id})}"  class="btn btn-danger">Delete</a>
                </td>
            </tr>

        </table>
        <a href="/add" class="btn btn-success">Create new User</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>
    </div>
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <p>Are you want to delete this user?</p>

            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary" id="deRef">Yes Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#deleteButton").on('click' ,function(){/*
            event.preventDefault();
            var href = $(this).attr();
            console.log(href);
            $("#deRef").attr("href", href);*/
            $('#deleteModal').showModal();
        });
    });

</script>