﻿@model ASM_ASP_NET.Models.Category

@{
    ViewBag.Title = "Details";
    ViewBag.Category = @Html.DisplayNameFor(model => model.Id);
}

<h2>Details</h2>
<p>
    @Html.ActionLink("Back to List", "Index", "Categories")
  
</p>
<button>  @Html.ActionLink("Create food", "Createfood", "Categories") </button>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_Name)
        </dd>

    </dl>
</div>
<div>
    <table class="table">
        <tr>
            <th>danh muc</th>
            <th>Ten đồ ăn</th>
            <th>Giá Gốc</th>
            <th>Giá Bán</th>
        </tr>
        @foreach (var item in Model.FoodLists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Category_Name);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameFood);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListedPrice);
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price);
                </td>
          
               
                <td>
                    @Html.ActionLink("Edit Food", "EditFood", new { id = item.Id }) |
                   
                    @Html.ActionLink("Delete Food", "DeleteFood", "FoodLists", new { id = item.Id })

                </td>
           
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
