﻿@model ASM_ASP_NET.Models.Employee

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Wellcome
            </div>
            <div class="card-body">
                @if (Session["FullName"] != null)
                {
                    <p>Name: @Session["FullName"].ToString()</p>
                    <p>User Name : @Session["UserName"].ToString()</p>
                    <a href="@Url.Action("Logout","Login")" class="btn btn-warning">Logout</a>

                }
            </div>
            <a>@Html.ActionLink("Categories" , "Index" , "Categories")</a>
        </div>
       
    </div>
</div>


