﻿@model ASM_ASP_NET.Models.Employee

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post , new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "UserName" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PassWord)
                        @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", @placeholder = "Password" })

                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                    </div>
                } 
            </div>
           <button>@Html.ActionLink("Register", "Register", "Login") </button> 
        </div>
    </div>
</div>

