﻿@model ASM_ASP_NET.Models.Employee

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Register</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FullName)
                        @Html.TextBoxFor(m => m.FullName, "", new { @class = "form-control", @placeholder = "full Name" })
                        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "User Name" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "badge badge-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PassWord)
                        @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.PassWord, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confim Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-danger" value="Register" />
                    </div>
                </div>
            </div>

        }
      <button>@Html.ActionLink("Login ", "Login", "Login")</button>  
    </div>
 
</div>
