﻿@model WebApplication_eCommerce.ACCOUNT

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ACCOUNT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AVAIL_BALANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AVAIL_BALANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLOSE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLOSE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_ACTIVITY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_ACTIVITY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPEN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPEN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PENDING_BALANCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PENDING_BALANCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
