﻿@model IEnumerable<WebApplication_eCommerce.ACC_TRANSACTION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FUNDS_AVAIL_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TXN_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TXN_TYPE_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCOUNT.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE.FIRST_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AMOUNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FUNDS_AVAIL_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TXN_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TXN_TYPE_CD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACCOUNT.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCH.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEE.FIRST_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TXN_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TXN_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TXN_ID })
        </td>
    </tr>
}

</table>
