﻿@model IEnumerable<ASM_ASP_NET.Models.Order>

@{
    ViewBag.Title = "IndexOrder";
}

<h2>IndexOrder</h2>

<p>
    @Html.ActionLink("Create New", "CreateOrder")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Table_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColseTheBill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pyments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMoney)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Table_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColseTheBill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pyments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMoney)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditOrder", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsOrder", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteOrder", new { id=item.Id })
        </td>
    </tr>
}

</table>
