<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{bootstrap.min.css}">
</head>
<body>
<div class="col-10">
    <div class="col-6 container">
        <h1>Edit User</h1>
        <div class="col-md-auto">
            <form th:Object="${user}" th:action="@{save}" method="post">
                <input th:field="*{id}" style="display: none">
                <div>
                    <label th:text="Name" th:for="name"></label>
                    <input  type="text" class="form-control" th:field="*{name}" th:placeholder="Name"/>
                </div>
                <div style="clear: both ;display: block ; height: 10px"></div>
                <div>
                    <label th:text="Age" th:for="Age"></label>
                    <input type="text" class="form-control" th:field="*{age}" th:placeholder="Email"/>
                </div>
                <div style="clear: both ;display: block ; height: 10px"></div>
                <div>
                    <label th:text="Salary" th:for="Salary"></label>
                    <input type="text" class="form-control" th:field="*{salary}" th:placeholder="phone"/>
                </div>
                <div style="clear: both ;display: block ; height: 10px"></div>
                <input type="submit" th:value="save" class="btn btn-success">
            </form>
        </div>
    </div>

</div>


</body>
</html>