<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User management</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
    <div class="col-3"></div>
    <div class="container col-6 ">
        <h1>User CRUD actions</h1>
        <table class="table table-active">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td>CRUD</td>
            </tr>
            <tr th:each="user: ${users}" th:id="${'user-' + user.id}">
                <td th:text="${user.name}" class="user-name"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.salary}"></td>
                <td>
                    <a th:href="@{/edit?id={id}(id=${user.id})}" class="btn btn-primary" type="button">Edit</a>

                    <a th:href="@{/delete/id={id}(id=${user.id})}"  class="btn btn-primary">Delete</a>
                </td>
            </tr>

        </table>
        <a th:href="@{/user/add}" class="btn btn-success">Create new User</a>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure want to delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnDelete">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
<script>
    var currentUserId;

    $('.btn-delete-product').click(function () {
        var tr = $(this).closest('tr');
        currentUserId = tr.attr('id').replace('user-', '');
        var pname = tr.find('.user-name').text();
        $('#modalBody').text(pname);
        $('#exampleModal').modal('show');
    });

    $('#btnDelete').click(function () {
        console.log(currentUserId);
        $.ajax({
            url: '/delete?id=' + currentUserId,
            type: 'DELETE',
            success: function (resp) {
                $('#product-' + currentUserId).remove();
                $('#messageSuccess').text('Action success!');
                $('#messageSuccess').removeClass('d-none');
                $('#exampleModal').modal('hide');
            },
            error: function () {
                $('#messageError').text('Action fails! Please try again later!');
                $('#messageError').removeClass('d-none');
                $('#exampleModal').modal('hide');
            }
        });
    });

</script>