﻿@model ASM_ASP_NET.Models.OrederDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrederDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodList.NameFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodList.NameFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Pyments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Pyments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
