<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>login page</h1>
<form action="@{register}" method="post">
    <input type="text" name="user">
    <input type="text" name="password">
    <input type="submit" value="Submit">
</form>
<div>
    <a th:href="register" class="btn btn-primary">Register</a>
</div>
</body>
</html>