<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/frag :: head(title='Product List')"></head>
<body>
<div th:replace="layout/frag :: header(title='List Product')"></div>
<div class="container-fluid row mt-2">
    <nav th:replace="layout/frag :: menu"></nav>
    <main class="col-md-10">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title float-left">
                    User Manager
                    <small class="text-muted">show User Manager</small>
                </h3>
                <a href="/product/create" class="btn float-right"><i class="fas fa-plus-circle"></i> Create new product</a>
                <div class="clearfix"></div>
                <div class="alert alert-success d-none" role="alert" id="messageSuccess"></div>
                <div class="alert alert-danger d-none" role="alert" id="messageError"></div>

                <table class="table table-striped">
                    <tr>
                        <td>Name</td>
                        <td>Address</td>
                        <td>user Name</td>
                        <td>Option</td>
                    </tr>

                    <tr  th:each="user : ${pagination.getContent()}" th:id="${'user-' + user.id}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.address}"></td>
                        <td th:text="${user.username}"></td>
                        <td>
                            <a class="btn-primary btn" th:href="@{'/user/edit/'+ ${user.id}}" >Edit</a>
                            <a class="btn-danger btn" th:href="@{'/user/delete/'+ ${user.id}}" >Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <a th:href="@{/user/create}" class="btn btn-primary">Create User</a>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure want to delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnDelete">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<div th:replace="layout/frag :: footer"></div>
</body>
</html>