﻿@model WebApplication_eCommerce.CUSTOMER

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_TYPE_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_TYPE_CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FED_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FED_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTAL_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTAL_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INDIVIDUAL.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INDIVIDUAL.FIRST_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
