﻿@model WebApplication_eCommerce.CUSTOMER


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_TYPE_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_TYPE_CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FED_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FED_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTAL_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTAL_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INDIVIDUAL.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INDIVIDUAL.FIRST_NAME)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <td>account id</td>
            <td>LAST ACTIVITY DATE</td>
            <td>PENDING BALANCE </td>
            <td>CLOSE DATE </td>
            <td>OPEN DATE</td>
        </tr>

        @foreach (var item in Model.ACCOUNTs)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ACCOUNT_ID)</td>
                <td>@Html.DisplayFor(modelItem => item.LAST_ACTIVITY_DATE)</td>
                <td>@Html.DisplayFor(modelItem => item.PENDING_BALANCE)</td>
                <td>@Html.DisplayFor(modelItem => item.CLOSE_DATE)</td>
                <td>@Html.DisplayFor(modelItem => item.OPEN_DATE)</td>
            </tr>
        }
    </table>
    <table class="table">
        <tr>
            <td>OFFICER ID</td>
            <td>FIRST NAMEtd>
            <td>LAST NAME</td>
            <td>CLOSE DATE</td>
            <td>END DATE</td>
            <td>START DATE</td>
            <td>TITLE </td>
        </tr>

        @foreach (var item in Model.OFFICERs)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.OFFICER_ID)</td>
                <td>@Html.DisplayFor(model => item.FIRST_NAME)</td>
                <td>@Html.DisplayFor(model => item.LAST_NAME)</td>
                <td>@Html.DisplayFor(model => item.END_DATE)</td>
                <td>@Html.DisplayFor(model => item.START_DATE)</td>
                <td>@Html.DisplayFor(model => item.TITLE)</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUST_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
